<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452958690852-aa7g8hci1ssp4rtbf1cihjp3uolfgjo9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452958690852-aa7g8hci1ssp4rtbf1cihjp3uolfgjo9</string>
	<key>API_KEY</key>
	<string>AIzaSyCLC2-Ad_tJNrIYNPxwSyuQg7vkC2j6LT0</string>
	<key>GCM_SENDER_ID</key>
	<string>452958690852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>crytotracker-449a1</string>
	<key>STORAGE_BUCKET</key>
	<string>crytotracker-449a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452958690852:ios:5f980a9e70aafdff2b02b1</string>
</dict>
</plist>